.bodybg{
    -fx-background-image: url('images/menuArt.jpg');
    -fx-background-size: 100% 100%;
    -fx-graphic: url('images/menuArt.jpg');;
}

#closeY{
    -fx-font-size: 15px;
    -fx-padding: 15px 50px;
    -fx-min-width: none;
    -fx-min-height: none;
}
#closeN{
    -fx-font-size: 15px;
    -fx-padding: 15px 50px;
    -fx-min-width: none;
    -fx-min-height: none;
}

.button
{
    -fx-background-image: url('images/button.jpg');
    -fx-background-size: 100% 100%;
    -fx-font-weight: bolder 900;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-padding: 18px 100px;
    -fx-min-width: 322px;
    -fx-min-height: 57px;
    -fx-font-family: "Georgia";
    -fx-transition-duration: 0.4s;
}

.button:hover {
    -fx-background-color: Goldenrod;
    -fx-color: black;
    -fx-pref-width: 360px;
    -fx-pref-height: 60px;
}

#closeY:hover {
    -fx-font-size: 18px;
    -fx-background-color: Goldenrod;
    -fx-color: black;
    -fx-pref-width: 150;
    -fx-pref-height: 52;
}

#closeN:hover {
    -fx-font-size: 18px;
    -fx-background-color: Goldenrod;
    -fx-color: black;
    -fx-pref-width: 150;
    -fx-pref-height: 52;
}

#exitid{
    -fx-background-image: url('images/exitMenu.jpeg');
    -fx-background-size: 100% 100%;
}

#exitlabel{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 25;
    -fx-font-weight: bolder 900;
    -fx-background-color: rgba(10, 50, 0, 0.14);
}


